/* An example of how ie-targeted styles can be accomplished. Note that this file begins with an underscore, and won't be included in the CSS build by default. You'll have to @import it. */

/* This is useful so you can decide where specifically you want the imported file to go, without using actual CSS imports that slow down performance. */

#ie8
  body
    border 10px solid red
